.body {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: black;
    font-family: "Verdana";
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 15px;
}

.logo {
   width: 33%;
}

.nav {
    width: 33%;
    margin-right: 18%;
}

.nav i {
    color: black;
}

.myCart {
    width: 15%;
}

.burger_nav {
    display: none;
}

@media screen and (max-width: 600px) {
    .topNav a.burger_nav {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topNav.responsive {position: relative;}
    .topNav.responsive .burger_nav {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topNav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}